---
name: Test gamescope-session-playtron
on:
  push:
    branches-ignore:
      - main
    paths:
      - 'gamescope-session-playtron/**'

env:
  PACKAGE_NAME: gamescope-session-playtron

jobs:
  test:
    name: Test gamescope-session-playtron RPM build
    runs-on: ubuntu-22.04
    container:
      image: fedora:42
    steps:
      - uses: actions/checkout@v3
      - name: Install RPM build dependencies
        run: dnf install -y copr-cli rpm-build rpmdevtools
      - name: Create the necessary RPM build directories
        run: mkdir -p ~/rpmbuild/SOURCES/
      - name: Copy internal source files
        run: cp ${GITHUB_WORKSPACE}/${PACKAGE_NAME}/* ~/rpmbuild/SOURCES/
      - name: Download external source files
        run: spectool -g -R ${GITHUB_WORKSPACE}/${PACKAGE_NAME}/${PACKAGE_NAME}.spec
      - name: Build the source RPM
        run: rpmbuild -bs ${GITHUB_WORKSPACE}/${PACKAGE_NAME}/${PACKAGE_NAME}.spec
      - name: Install the DNF build dependencies plugin
        run: dnf -y install 'dnf-command(builddep)'
      - name: Install the required build dependencies.
        run: dnf builddep -y ${GITHUB_WORKSPACE}/${PACKAGE_NAME}/${PACKAGE_NAME}.spec
      - name: Build the binary RPM
        run: rpmbuild -bb ${GITHUB_WORKSPACE}/${PACKAGE_NAME}/${PACKAGE_NAME}.spec
      - name: Enable the Playtron Gaming Fedora Copr repository to install gamescope-session
        run: dnf -y copr enable playtron/gaming
      - name: Enable the Playtron App repository to install grid
        run: |
          cat <<EOF > /etc/yum.repos.d/playtron-app-x86_64.repo
          [playtron-app-x86_64]
          name=Playtron Labs and App repository
          baseurl=https://playtron-dev2-global-os-public.s3.us-west-2.amazonaws.com/repos/playtron-app/x86_64/
          type=rpm-md
          skip_if_unavailable=False
          gpgkey=https://playtron-dev2-global-os-public.s3.us-west-2.amazonaws.com/gpg-public-keys/RPM-GPG-KEY-playtronos
          gpgcheck=0
          repo_gpgcheck=0
          enabled=1
          enabled_metadata=1
          EOF
      - name: Install RPMs
        run: dnf -y install ~/rpmbuild/RPMS/*/*.rpm
